@font-face {
  font-family: "miama";
  src: url("fonts/miama.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Miss_Katherine-Script";
  src: url("fonts/Miss_Katherine-Script.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sverdlovsk";
  src: url("fonts/Sverdlovsk.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GoudyTrajan";
  src: url("fonts/GoudyTrajan-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NarzissProCyrillic";
  src: url("fonts/NarzissProCyrillic.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 100%;
  overflow-x: hidden;
  background-color: #203732;
}
* {
  padding: 0;

  margin: 0;
  box-sizing: border-box;
  color: #e0d396;
}
.img_first {
  position: absolute;
  width: 100%;
  top: -60px;
  opacity: 0.7;
  left: -100px;
  transform: rotate(90deg);
}
.img_sec {
  position: absolute;
  width: 40%;
  bottom: 150px;
  opacity: 0.7;
  right: -30px;
  transform: rotate(-80deg);
}
.main_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.main_name_wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 180px;
  font-family: "Miss_Katherine-Script", sans-serif;
  color: #e0d396;
}

.dauren {
  position: absolute;
  top: -160px;
  left: 30px;
}
.and {
  position: absolute;
  top: -60px;
  right: 150px;
}
.diana {
  position: absolute;
  top: 30px;
  right: 60px;
}
.invit {
  position: absolute;
  width: 100%;
  bottom: 100px;
  color: #e0d396;
  left: 50%;
  font-size: 90px;
  transform: translateX(-50%); /* только по X */
  font-family: "Miss_Katherine-Script", sans-serif;
  text-align: center; /* чтобы текст был по центру */
}

.second_wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.flower_3 {
  position: absolute;
  top: -150px;
  left: -30px;
  width: 50%;
  transform: rotate(-72deg);
}
.invit_text {
  font-family: "miama", sans-serif;
  color: #e0d396;
  padding: 50px 10px;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  line-height: 2;
  margin-bottom: 50px;
}
.rose {
  position: absolute;
  right: -70px;
  top: 230px;
  width: 60%;
  transform: rotate(-45deg);
}
.data_text {
  font-family: "Sverdlovsk", sans-serif;
  font-size: 40px;
  text-align: center;
}
.data {
  font-family: "Sverdlovsk", sans-serif;
  padding: 20px 0;
  text-align: center;
  font-size: 60px;
}

.addres_wrapper {
  text-align: center;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-transform: uppercase;
}
.address_title {
  font-family: "Sverdlovsk", sans-serif;
  font-size: 40px;

  padding-bottom: 20px;
}

.address {
    font-family: "NarzissProCyrillic", sans-serif;
  font-size: 20px;
}
.address_rest {
    font-family: "NarzissProCyrillic", sans-serif;
  font-size: 35px;
}

.map {
  width: 80px;
  margin: 0 auto;
  padding: 20px 0;
  transition: 0.2s scale;
}
.map:hover {
  scale: 1.1;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.time-block {
  display: flex;
  width: 70px; 
  height: 70px;
  border-radius: 50%;
  border: 1px solid #e0d396;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* добавь для центрирования */
  font-family: "NarzissProCyrillic", sans-serif;
  font-size: 20px;
  position: relative;
}

.time-block img {
  position: absolute;
  width: 80px;
  height: 80px;
  z-index: 1;
  right: -12px;
  bottom: -8px;
}

.time-block small {
  font-size: 10px;
  margin-top: 5px;
}
